<form  (ngSubmit)="updateemployee(EmployeeForm)" #EmployeeForm="ngForm">
  
    <div class="form-group">
      <label>Name</label>
      <input type="name" class="form-control" name="name" [(ngModel)]="addemployee.name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email"  [(ngModel)]="addemployee.password">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="string" class="form-control" name="phone"  [(ngModel)]="addemployee.Designation">
    </div>
    <div class="form-group">
      <button  type="submit" class="btn btn-primary">Update Employee</button>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="Addsuccess">
       Employee updated!
       <button  type="submit" class="btn btn-primary" routerLink="/">Back to Home page</button>
    </div>
  </form>