
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn.iconscout.com/icon/free/png-256/employee-1714118-1459147.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Employees</h5>
              <p class="card-text">Employees working for this project. For more info please click Employee Details.</p>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Employee/listall"  class="btn btn-primary">Employee Details</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Employee/create"  class="btn btn-primary">Create Employee</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Employee/update"  class="btn btn-primary">Update Employee</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Employee/delete"  class="btn btn-primary">Delete Employee</a>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://static.thenounproject.com/png/1877951-200.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Clients</h5>
              <p class="card-text">Clients taking part in this project. For more info please click Client Details.</p>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Client/listall"  class="btn btn-primary">Client Details</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Client/create"  class="btn btn-primary">Create Client</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Client/update"  class="btn btn-primary">Update Client</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Client/delete"  class="btn btn-primary">Delete Client</a>
              </div>
              
            </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNVWfy1I-8bXPk1XZJ6tFnCo8K-HapjnjFsWHBLYXNCEi3diEVM9MVTSOab8QADDZZ8No&usqp=CAU" alt="Card image cap" style="height: 150%;">
            <div class="card-body">
              <h5 class="card-title">Interactions</h5>
              <p class="card-text">Business between Employee and clients. For more info please click Interaction Details.</p>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Interaction/listall"  class="btn btn-primary">Interaction Details</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Interaction/create"  class="btn btn-primary">Create Interaction</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Interaction/update"  class="btn btn-primary">Update Interaction</a>
              </div>
              <div>
                <a *ngIf="isLoggedIn" routerLink="Interaction/delete"  class="btn btn-primary">Delete Interaction</a>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  